<?xml version="1.0" encoding="utf-8"?>

<modularitySettings>
	<modules>
		<add name="Bricks.Samples.ConsoleApp" type="Bricks.Samples.ConsoleApp.Module, Bricks.Samples.ConsoleApp" order="100" />
		<add name="Bricks.Core.Impl" type="Bricks.Core.Impl.Module, Bricks.Core.Impl" order="0" />
		<add name="Bricks.SMS.Nexmo" type="Bricks.SMS.Nexmo.Module, Bricks.SMS.Nexmo" order="0" />
	</modules>
</modularitySettings>