<?xml version="1.0" encoding="utf-8"?>

<nexmoSettings key="" secret="" baseUrl="https://rest.nexmo.com/"
			   senderIdResourceType="Bricks.Samples.ConsoleApp.Resources, Bricks.Samples.ConsoleApp"
			   senderIdResourceName="SenderId">
	<serviceUrls>
		<add type="Bricks.SMS.Nexmo.SmsParameters, Bricks.SMS.Nexmo" url="sms/json" />
	</serviceUrls>
</nexmoSettings>